In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
summary = pd.read_csv('data/atussum_2014.dat')

In [4]:
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11592 entries, 0 to 11591
Columns: 409 entries, tucaseid to t500107
dtypes: float64(1), int64(408)
memory usage: 36.3 MB

In [5]:
summary.keys()

Index(['tucaseid', 'TUFINLWGT', 'TRYHHCHILD', 'TEAGE', 'TESEX', 'PEEDUCA',
       'PTDTRACE', 'PEHSPNON', 'GTMETSTA', 'TELFS',
       ...
       't181601', 't181699', 't181801', 't181899', 't189999', 't500101',
       't500103', 't500105', 't500106', 't500107'],
      dtype='object', length=409)

In [16]:
test = summary[['tucaseid', 'TELFS']]

In [17]:
test.head()

         tucaseid  TELFS
0  20140101140007      4
1  20140101140011      1
2  20140101140028      5
3  20140101140063      5
4  20140101140168      4

In [18]:
test1 = test.rename(columns={'tucaseid':'CASE_ID'})

In [19]:
test1.head()

          CASE_ID  TELFS
0  20140101140007      4
1  20140101140011      1
2  20140101140028      5
3  20140101140063      5
4  20140101140168      4