Simple Analyis:
1. Want to isolate a few columns from the massive data set.
2. Simple descriptive statistics and some graphical representation.
3. A merge of additional data limited to a few columns of data.
    a. Age distribtuion of Macro Analysis [age distribution of male vs femaleSimple descriptive statistics plus some correlation estimates.
5.

In [10]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
all_summary = pd.read_csv('data/atussum_2014.dat')
gender_sum = all_summary[['tucaseid','TEAGE', 'TESEX']]
gender_sum = gender_sum.rename(columns={'tucaseid':'CASE_ID',
                              'TEAGE': 'AGE',       # age in years
                              'TESEX': 'GENDER'     # gender; Male = 1, Female = 2
                                     }
                            )

In [35]:
pd.pivot_table(gender_sum, index=['GENDER'], values=['AGE'], aggfunc=[np.amin, np.amax, np.count_nonzero, np.average])

       amin amax count_nonzero    average
        AGE  AGE           AGE        AGE
GENDER
1        15   85          5124  47.753513
2        15   85          6468  49.623995

In [37]:
gender_sum.pivot.loc['AGE']

AttributeError: 'function' object has no attribute 'loc'

In [17]:
gender_sum.loc[1][['AGE','GENDER']]

AGE       16
GENDER     2
Name: 1, dtype: int64

In [12]:
gender_sum.head()

          CASE_ID  AGE  GENDER
0  20140101140007   20       2
1  20140101140011   16       2
2  20140101140028   65       2
3  20140101140063   50       2
4  20140101140168   23       2

In [24]:
gender_sum.describe()

            CASE_ID           AGE        GENDER
count  1.159200e+04  11592.000000  11592.000000
mean   2.014065e+13     48.797188      1.557971
std    3.478180e+08     17.892812      0.496649
min    2.014010e+13     15.000000      1.000000
25%    2.014030e+13     35.000000      1.000000
50%    2.014061e+13     48.000000      2.000000
75%    2.014091e+13     63.000000      2.000000
max    2.014121e+13     85.000000      2.000000

          CASE_ID  AGE  GENDER
0  20140101140007   20       2
1  20140101140011   16       2
2  20140101140028   65       2
3  20140101140063   50       2
4  20140101140168   23       2